<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>Index</title>
</head>
<body>
<main>
    <h3 th:text="'Hello, ' + (${login == null} ? 'Stranger' : ${login}) + '!'"></h3>

    <div th:with="user_present = ${login != null}">
        <div th:if="${user_present}">
            <a th:href="@{/logout}">Logout</a> | <a th:href="@{/products}">Products</a>
        </div>
        <div th:unless="${user_present}">
            <a th:href="@{/login}">Login</a> | <a th:href="@{/register}">Register</a>
        </div>
    </div>
</main>
</body>
</html>
